{% extends "base.html" %}

{%block content%}
<p class=" alert alert-danger text-bg-success"> ! Kindly refrain from adding users to the system, as any additional users, with the exception of 'sahibfabrics,' could potentially occupy unnecessary space in the cloud, adversely impacting the overall performance of the application. Your cooperation in maintaining optimal system efficiency is greatly appreciated. </p>
<div class="row">
    <div class="col-sm-4">   <!--This div is for registerform-->
        <h4 class="mt-1 text-align center alert alert-info ">User Registration</h4>
        <form action="" method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit" class="btn btn-danger ">Register</button>
        </form>
    </div>

    </div>
</div>

{%endblock content%}